@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a{
  text-decoration: none;
}

html,  body{
  font-family: 'Poppins', sans-serif;
}

$playfair: 'Playfair Display', serif;

// Variables
$black: #181818;
$white: #ffffff;
$grey: #F1EDE9;
$blue: #1C2CC2;
$pink: #FF69A8;
$orange: #FF8F6B;
$sky: #4FCAFF;
$light-grey: #F9F9FA;
$oho-grey: #6b6b6b;
$lala-grey: #cfcfcf;
// Breakpoints
$mobile-landscape: 30rem; // 480px
$tablet: 40rem; // 640px
$tablet-wide: 48rem; // 768px
$desktop: 64rem; // 1024px
$widescreen: 71.25rem; // 1140px

body, html{
  background: $light-grey;
}
// Basic layout
.container{
  max-width: 1040px;
  margin: 0 auto;
  @media (max-width: $tablet-wide){
      width: 100%;
  }
}

.hero_section{
  background: $blue;
  padding-bottom: 120px;
  background-image: url('/uischool-pat.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_details{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 80px;
  @media (max-width: $mobile-landscape){
    padding-top: 50px;
    padding-bottom: 50px;
  }
  img{
    max-height: 120px;
  }
  h1{
    color: $white;
    font-size: 52px;
    max-width: 900px;
    margin: 0 auto;
    line-height: 130%;
    margin-top: 20px;
    @media (max-width: $mobile-landscape){
      font-size: 36px;
    }
  }
  .form{
    margin-top: 20px;
    color: $pink;
    font-size: 32px;
  }
  a{
    padding: 10px 20px;
    display: inline-block;
    color: $white;
    border: 1px solid $white;
    border-radius: 12px;
    margin-top: 30px;
  }
}
.featured_section{
  article{
    margin: 30px 150px;
    @media (max-width: $tablet-wide){
        margin: 10px;
    }
    .article_box{
      padding: 30px 48px;
      background: $white;
      border-radius: 12px;
      -webkit-box-shadow: 0 6px 2px -2px rgba(0,0,0,0.05);
      -moz-box-shadow: 0 6px 2px -2px rgba(0,0,0,0.05);
      box-shadow: 0 6px 2px -2px rgba(0,0,0,0.05);
      .tag_list{
        margin-bottom: 10px;
          >li{
            display: inline-block;
            background: $pink;
            color: $white;
            margin-right: 5px;
            padding: 3px 10px;
            line-height: 16px;
            border-radius: 11px;
          }
      }
      a{
        color: $black;
      }
      h2{
        font-family: $playfair;
        font-size: 30px;
        line-height: 130%;
        margin-bottom: 20px;
        font-weight: 700;
        color: $black;
      }
      .meta_info{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        .credit{
          h4{
            font-size: 14px;
            color: $oho-grey;
            letter-spacing: normal;
            font-weight: 300;
            display: inline-block;
            strong{
              font-weight: 500;
            }
          }
        }
        .source{
          font-size: 14px;
          color: $lala-grey;
          vertical-align: middle;
          img{
            vertical-align: middle;
            margin-right: 5px;
          }
        }
      }
    }
    &:hover{
      .article_box{
        -webkit-box-shadow: 0 12px 34px -2px rgba(0,0,0,0.06);
        -moz-box-shadow: 0 12px 34px -2px rgba(0,0,0,0.06);
        box-shadow: 0 12px 34px -2px rgba(0,0,0,0.06);
      }
    }
  }
}
.footer{
  text-align: center;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  .credit{
    margin: 20px;
    h3{
      font-size: 16px;
      opacity: .6;
      a{
        text-decoration: none;
        font-weight: 600;
        color: $black;
        &:hover{

        }
      }
    }
  }
  .project{
    margin: 20px;

    h3{
      font-size: 16px;
      opacity: .6;
      a{
        text-decoration: none;
        font-weight: 600;
        color: $black;
        &:hover{

        }
      }
    }
  }


}

.featured_head{
  margin-top: 70px;
  h1{
    font-size: 100px;
    color: $lala-grey;
    font-family: $playfair;
    font-weight: 700;
    opacity: .4;
    @media (max-width: $mobile-landscape){
      text-align: center;
        font-size: 72px;
    }
  }
}

.s_logo{
  padding-top: 20px;
  a{
    display: block;
    img{
      height: 32px;
    }
  }
}
.curator_head{
  padding-top: 100px;
  h1{
    color: $white;
    font-size: 60px;
    font-family: $playfair;
  }
}


.curators_section{
  .curators_list{
    margin-top: 140px;
    .curator_box{
      display: flex;
      flex-direction: row;
      @media (max-width: $mobile-landscape){
        flex-direction: column;
      }
      .media{
        width: 20%;
        text-align: right;
        @media (max-width: $mobile-landscape){
          width: 100%;
          text-align: left;
        }
        img{
          width: 120px;
          border-radius: 50%;
        }
      }
      .content_wrapper{
        width: 80%;
        @media (max-width: $mobile-landscape){
          width: 100%;
        }
        .content{
          padding: 0 20px;
          margin-bottom: 80px;
          .meta_info{
            h2{
              font-size: 44px;
              font-family: $playfair;
              margin-bottom: 18px;
            }
            h3{
              font-size: 24px;
              margin-bottom:10px;
            }
            p{
              font-size: 20px;
              line-height: 28px;
              color: $oho-grey;
              font-weight: 200;
              margin-bottom: 10px;
            }
          }
          .social{
            ul{
              >li{
                display: inline-block;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}
